.cover__link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: rgba(42, 44, 47, 0.3);
    width: 100%;
    min-height: 784px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

.cover__link::after{
    position: absolute;
    background-color: rgba(42, 44, 47, 0.3);
}


.cover__link:hover{
    background-color: rgba(42, 44, 47, 0.8);
}
