.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    /* grid-template-columns: 284px; */
    grid-auto-rows:213px;
    gap: 16px;
    /* margin-left: 49px;
    margin-right: 49px; */
    /* width: 1184px; */
    max-width: 100%;
    margin: auto; 
    align-self: center;
    margin-top: 92px;
    justify-content: center;
}