.footer__link{
    padding-right: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 555px) {
    .footer__link{
        max-width: 186px;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
        display: block;
        box-sizing: border-box;
    }
}