.lead__title{
    margin-top: 56px;
    margin-bottom: 0;
    width: 720px;
    max-width: 100%;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}