.lead__title{
    margin-top: 56px;
    margin-bottom: 0;
    width: 720px;
    max-width: 100%;
    
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__title{
        margin-top: 48px;
    }
}

@media screen and (max-width: 675px) {
    .lead__title{
        
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}