.footer__links{
    text-decoration: none;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

@media screen and (max-width: 555px) {
    .footer__links{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

