.cover{
    display:flex;
    position: relative;
    align-items: center;
    background-image: url(../../images/dmitrii-vaccinium-22833-unsplash.png);
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}