.lead__img{
    max-width: 100%;
    width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__img{
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .lead__img{
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead__img{
        max-width: 320px;
    }
}
