.places__place{
    display: grid;
    grid-template-columns: repeat(2, minmax());
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraph";
    row-gap: 48px;
    margin: auto;
    padding-bottom: 80px;
}