.places__place{
    display: grid;
    grid-template-columns: repeat(2, minmax());
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraph";
    row-gap: 48px;
    column-gap: 3vh;
    margin: auto;
    padding-bottom: 80px;
}

@media screen and (max-width: 555px) {
    .places__place{
        display: block;
        padding-bottom: 50px;
    }
}