.cover__title{
    z-index: 99999;
    max-width: 560px;
    width: 100%;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

@media screen and (max-width: 582px){
    .cover__title{
        max-width: 90vw;
    }
}

@media screen and (max-width: 373px){
    .cover__title{
        max-width: 70vw;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title{
        max-width: 75vw;
    }
}