.footer{
    width: 1184px;
    max-width: 100%;
    margin: auto;
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}