.footer{
    width: 1184px;
    max-width: 100%;
    margin: auto;
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer{
        width: 90vw;
    }
}

@media screen and (max-width: 675px){
    .footer{
        width: 100vw;
    }
}

@media screen and (max-width: 555px) {
    .footer{
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 64px;
        align-items: flex-start;
    }
}

/* @media screen and (max-width: 320px) {
    .footer{
        max-width: 288px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 64px;
        align-items: flex-start;
    }
} */